<footer>
  <div class="container">
    <span>By <a href="https://twitter.com/gkzahariev">George Zahariev</a>. For updates on Grasp follow:</span>
    <a href="https://twitter.com/gkzahariev" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @gkzahariev</a>
    <iframe src="http://ghbtns.com/github-btn.html?user=gkz&type=follow&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="140" height="20"></iframe>
    <span class="license">Code under the <a href="https://github.com/gkz/grasp/blob/master/LICENSE">MIT License</a>.</span>
  </div>
</footer>

<script src="{{ page.base_url }}/assets/js/lib/jquery-2.0.3.min.js"></script>
<script src="{{ page.base_url }}/assets/bootstrap/js/bootstrap.min.js"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% include analytics.html %}

{% if page.demo %}
  <script src="{{ page.base_url }}/assets/js/lib/jquery.terminal-0.7.12.min.js"></script>
  <script src="{{ page.base_url }}/assets/js/demo-all.js"></script>
{% endif %}
