<!DOCTYPE html>

<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} | {% else %}{% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ page.base_url }}/assets/bootstrap/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="{{ page.base_url }}/assets/css/syntax.css" type="text/css">
  <link rel="stylesheet" href="{{ page.base_url }}/assets/css/jquery.terminal.css" type="text/css">
  <link rel="stylesheet" href="{{ page.base_url }}/assets/css/styles.css" type="text/css">
  <link rel="shortcut icon" href="{{ page.base_url}}/favicon.ico">
</head>
