---
layout: default
base_url: ../../../../..
---

{{ content }}

<p class="clearfix">
  <div class="pull-left">For updates on Grasp including new blog posts follow:&nbsp;</div>
  <div class="pull-left"><a href="https://twitter.com/gkzahariev" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @gkzahariev</a></div>
</p>

<p class="clearfix">
  <div class="pull-left">Share this post:&nbsp;</div>
  <div class="pull-left">{% include tweet-button.html %}</div>
</p>

<div id="disqus_thread"></div>
<script type="text/javascript">
  if (location.hostname !== 'localhost') {
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'graspjs'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  }
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
